################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BudgetTracking/obj/Debug
/BudgetTracking/bin/Debug
/BudgetTracking/obj/Debug
/BudgetTracking/bin/Debug
